/*
********************************** 
RESET 
**********************************
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
********************************** 
GENERAL 
**********************************
*/
/* main,header,footer{
    margin-top: 1rem;
} */
/* layout */
.conteiner{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0 1rem ;
}
.col{
    padding: 1rem;
}
.row{
    margin-left: -1rem;
    margin-right: -1rem;
}
.card{
    width: 100%;
    background-color: yellow;
    min-height: 80px;
    border-radius: 15px;
}
/* debug */
.border{
    border: 2px  dashed black;
    min-height: 100px;
}
/* utilitis */
.button{
    border-radius: 30px;
    padding:  0.2rem 1.3rem;
}
/*
********************************** 
SECTION 
**********************************
*/
/* header */
header{
    height: 80px;
    line-height: 80px;
    background-color: blueviolet;
    /* position: fixed;
    top: 0; 
    width: 100%; */
    
}
header > .conteiner{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 1rem;
}
.icon-menu{
    color: whitesmoke;
}
/* main */
/* section-1*/
#s1-5card .card{
    padding: 1rem;
    
}
.s1-content>*{
    margin-bottom: 0.5rem;
}
/* first card */
.s1-img>img{
    width: 40%;
    margin-bottom: -1.3rem;
}
.s1-but{
    background-color: cornflowerblue;
    color: whitesmoke;
}
.s1-flex-special{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30%;
}
/* .s1-img{
    position: relative; 
} */
/* #s1-5card .col:first-child{
    position: relative;
} */

/*
********************************** 
RESPONSIVE 
**********************************
*/
/* tablet */
@media screen and (min-width: 780px) {
    /* section-1*/
    #s1-5card .row{
        display:flex ;
        flex-wrap: wrap;
    }
    #s1-5card .col{
        width: calc(100%/3);
    }
    #s1-5card .col:first-child{
        width: calc(100%/3*2);
    }
    .s1-img>img{
        width: 20%;
    }
    /* section-4*/
    #s4-6card .row{
        display:flex ;
        flex-wrap: wrap;
    }
    #s4-6card .col{
        width: calc(100%/2);
    }
}